<resources>
    <properties>
        <property id="notificationsEnabled" type="boolean">true</property>
        <property id="minSteps" type="number">50</property>
        <property id="timeWindow" type="number">60</property>
        <property id="startHour" type="number">7</property>
        <property id="endHour" type="number">21</property>
        <property id="snoozeDuration" type="number">60</property>
    </properties>

    <settings>
        <setting propertyKey="@Properties.notificationsEnabled" title="@Strings.notificationsEnabledTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.minSteps" title="@Strings.minStepsTitle">
            <settingConfig type="numeric" min="10" max="500" />
        </setting>
        <setting propertyKey="@Properties.timeWindow" title="@Strings.timeWindowTitle">
            <settingConfig type="numeric" min="30" max="180" />
        </setting>
        <setting propertyKey="@Properties.startHour" title="@Strings.startHourTitle">
            <settingConfig type="numeric" min="0" max="23" />
        </setting>
        <setting propertyKey="@Properties.endHour" title="@Strings.endHourTitle">
            <settingConfig type="numeric" min="0" max="23" />
        </setting>
        <setting propertyKey="@Properties.snoozeDuration" title="@Strings.snoozeDurationTitle">
            <settingConfig type="numeric" min="15" max="180" />
        </setting>
    </settings>
</resources>
